body {
    background-color: #222;
    color: #fff;
}

div {
    display: block;
    margin: 100px auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
    position: relative;
    border: none;
    border-radius: 25%;
    min-width: 25%;
    min-height: 50%;
    max-width: 30%;
    max-height: 75%;

}